body {
font-family: Arial;
padding: 0px;
margin: 0px;
background-color: #1D1B1B;
color: white;
}

.header{
    display: grid;
    text-align: center;
    padding: 0px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 157px;
    width: 95%;
    grid-template-columns: center;
    border-color: #421F88;
    border-style: solid;

}

.title {
    margin: 0px;
    color: #7536F4 ;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.Id {
    margin: 10px;
    width: 95%;
    background-color: #4B4B4B;
    color: black;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
}

button {
    cursor: pointer;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7536F4;
    width: auto;
    height: 30px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}