body {
font-family: Arial;
padding: 0px;
margin: 0px;
}
input, select, button {
margin: 5px;
padding: 5px;
}

.Headder {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fdfafa;
    background-color: #75a1c9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70px;
    align-items: center;
}

.HH1 {
    margin-left: 30px;
    text-align: center;
    padding-top: 0px;
}

.Container {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
}

.List-pannel {
    display: flex;
    margin: 20px;
    border-color: black;
    max-width: 1fr;
    flex-direction: row;
}

.List-pannel .Pannel {
    
    width: 100%;
    height: 700px;
    margin: 20px;
    border-radius: 16px;
    
    flex-direction: row;
    box-shadow: 0px 0px 16px #8888886c;
}

.List-pannel .Pannel .B1 {
    background-color: #75a1c9   ;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-style: none; 
}

.List-pannel .Pannel- .B1:hover {
    background-color: #4a7ca8;
    cursor: pointer;
}

.List-pannel .Pannel .Selection {
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid #000000;
    padding-left: 10px;
    padding-bottom: 10px;
}

.H2 {
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.H3 {
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.qr {
    display: flex;
    margin: 20px;
    border-color: black;
    max-width: 1fr;
    flex-direction: row;
}

.qr .Pannel {
    width: 100%;
    height: 700px;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 16px;
    flex-direction: row;
    box-shadow: 0px 0px 16px #8888886c;
}

.qr .Pannel .head {
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid #000000;
    padding-left: 10px;
    padding-bottom: 10px;
}